<partial name="AboutUsNavbar"></partial>


<h2 class="text-center mt-5">BEWARE THE BANNIK OF THE BANYA OF RUSSIA!</h2>


<div class="text-center font-italic m-4">
    Like the Turkish Ginn, who haunted the hamam, banya come complete with a devil of their own, the Bannik, an old man with hairy paws and long nails. Most of the time, the Bannik stays under the banya’s benches, but if someone angered him, he throws hot rocks and boiling water, or claws the skin of bathers.

    A bather protects himself by making the sign of the cross when entering, companionably wishing fellow bathers and good bath, and saying goodbye to the Bannik upon departure.
</div>

<img src="https://na-dache.pro/uploads/posts/2021-04/1618327957_35-na-dache_pro-p-krasivo-russkaya-banya-s-venikom-foto-43.jpg" class="img-fluid mt-3" alt="Responsive image">
