
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="nav-link active" asp-controller="AboutUs" asp-action="Index">Home</a>
    <a class="nav-link" asp-controller="AboutUs" asp-action="Bannik">Bannik</a>
    <a class="nav-link " asp-controller="AboutUs" asp-action="Photos" t>Photos</a>
</nav>
