


<form method="POST" asp-controller="Users" asp-action="ChangePhoneNumber">
    <div class="form-group">
        <label for="@Model">Phone Number</label>
        <input type="tel" pattern="[+][3][5][9][0-9]{2}[0-9]{3}[0-9]{4}" class="form-control" placeholder="Enter your new phone number">
        <small class="form-text text-muted">Your phone number should start with <span class="badge badge-info">+359</span></small>
    </div>
    <button type="submit" asp-action="ChangePhoneNumber" asp-controller="Users" asp-route-phoneNumber="@Model" class="btn btn-primary">Submit</button>
</form>