<a class="btn btn-success btn-block" asp-controller="Reservations" asp-action="Add" role="button">Make a reservation</a>
<a class="btn btn-info btn-block" asp-controller="Reservations" asp-action="Upcoming" role="button">See Upcoming Reservations</a>